.app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 16px;
}

.app * {
    box-sizing: border-box;
}

.app__songs-controls {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.app__search {
    padding: 1em;
}

.app__songs-list {
    overflow: auto;
}

.app__song-details {
    overflow: hidden;
    flex: 0 1 0;
    border-left: 1px solid #bbb;
}

.app__mobile-player {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    transition: all linear 250ms;
    border-top: 1px solid #bbb;
    background-color: #ddd;
}

.app.app--show-mobile-player .app__mobile-player {
    height: 70px;
    transition: all linear 250ms;
}

.app.app--has-details .app__song-details {
    padding: 1em;
    transition: all linear 250ms;
    flex-basis: 70%;
}
